<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://unpkg.com/cursor-effects@latest/dist/browser.js"></script>
    <script type="module">
      import { fairyDustCursor } from "https://unpkg.com/cursor-effects@latest/dist/esm.js";

      new cursoreffects.fairyDustCursor({
        colors: ["#ff00aa", "#4a4edd", "#FF85BE"],
      });
    </script>
  </head>
  <body>
    <header>{% include "layouts/nav.njk" %}</header>
    <div class="page">
    
    <main>
      {{ content | safe }}
      <h4>(C) SOFTWAVE 2024</h4>
    </main>
    </div>
  </body>
</html>

