<div class="header">
  <!-- TITLE -->
  <img class="logo" src="/Logo.png">
   <!-- <h1 class="title">{{ site.title }}</h1> -->
  
  <!-- <h5 class="subtitle">{{ site.description }}</h5> -->

  <!-- NAV BAR -->
  <ul class="navbar">
    <li>
      <a href="/">home</a>
    </li>
    <li>
      <a href="/pages">pages</a>
    </li>
    <li>
      <a href="https://github.com/Softwave" target="_blank">github</a>
    </li>

  </ul>

  
  
</div>
